@media screen and (max-width: 768px) {

	.intro
	{
		padding-top: 200px;
	}

	.intro .intro-body #intro-content
	{
		width: 80%;
		top: 45%;
	}

	#about
	{
		padding-top: 175px;
	}

}

@media screen and (max-width: 480px) {

	.intro .intro-body #intro-content
	{
		width: 100%;
		left: 0;
		top: 20%;
		margin-top: 35%;
		text-align: center;
	}

	#about
	{
		text-align: center;
	}
}

@media screen and (max-width: 320px) {
	#about
	{
		padding-top: 200px;
	}
}