
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div id="intro-content" class="col-md-10 col-md-offset-1">
            <h1>Singing in Scheme Since <span class="teal">1996</span></h1>
            <p>
              Known for their fierce color schemes and sultry style, Soundbytes pride themselves on their infectious performance groove - bringing their passion and sense of fun to any song that they perform.
            </p>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
