<!-- Post List Start -->
<div class="blocktest blocktest-{{ post.blog-priority }}">
  <a class="category" href="{{site.baseurl}}{{post.url}}">
    <div class='imgWrap'>
      <img class='img-responsive center-block fourofour' src='{{ post.image }}' alt=''>
      <footer class='post-description'>
        <div class='imgDescription'>
          
        </div>
        <h6>
          <span class='teal'>
            {{post.title}}
          </span><br/>
          {{post.category}}
        </h6>
      </footer>
    </div>
  </a>
</div>
<!-- Post List End -->
