<!-- Post List Start -->
<div class="blocktest blocktest-{{ post.blog-priority }}">
  <a class="category" href="{{site.baseurl}}{{post.url}}">
    <div class='imgWrap'>
      <img class='img-responsive center-block fourofour' src='{{ post.image }}' alt=''>
      <div class='imgDescription'></div>
    </div>
    <footer class='post-description'>
      <h6>
        <span class='teal'>
          {{post.title}}
        </span><br/>
        {{post.category}}
      </h6>
    </footer>
  </a>
</div>
<!-- Post List End -->
