<!-- Audition Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    {% include header.html %}

    <section id="audition" class="container content-section text-center">

        <h3>2019 Fall Auditions</h3>

        <p>
          Auditions will be held this Fall semester, Friday September 6th from 4:30-9pm and Saturday the 7th from 10:30am-7:30pm! Each audition will last 10 minutes and each audition slot will have at most 3 people auditioning. Please show up a few minutes early to your audition. You can sign up
        <a href="https://bit.ly/soundbytesaudition" target="_blank">here</a>!
        <p>
          Callbacks will be held Sunday, September 8th in the afternoon, so please be sure to keep this day available!
        </p>
        <p>
          Soon after you sign up for an audition, you will receive an email as a reminder of the locations and more details regarding the audition process. We are so excited to meet and sing with you all!
        </p>

     	<h3>What to expect at auditions</h3>

 		<h5>Range Test:</h5>
 		<p>We will test your range with a keyboard exercise.</p>

 		<h5>Chord Matching: </h5>
 		<p>
 			We will play chords (three tones) and you will sing the pitches that you hear.  We will demonstrate this in your audition, don't worry if this isn't your forte.
 		</p>
 		<h5>Solo: </h5>
 		<p>
 			Prepare a verse and a chorus (1-2 minutes) of a song that you can sing without accompaniment.  Your choice should be something that best represents and showcases your voice.
 		</p>

 		<h5 class="teal">THE JAM:</h5>
 		<p>If time permits, have some fun and sing with Soundbytes! :)</p>

        <img src="../img/group/SoundBytes_0162.jpg"/>

     	<h3>Frequently Asked Questions</h3>

     	<h5>Can I audition for more than one group on campus?</h5>
     	<p>
     		Yes! Audition for any and all groups that you find exciting! Callbacks will accommodate the schedules of other groups on campus!
     	</p>

     	<h5>When and how often do you rehearse?</h5>
     	<p>
     		We rehearse twice a week on Wednesdays from 8-10PM and on Sundays from 1-3PM, with an occasional extra rehearsal added when needed! Rehearsal times may change in the near future, so definitely audition even if these times don't work for you!
     	</p>

     	<br/><br/>
     	<p style="text-align: center">
     		If you have any questions, concerns, or cancellations, don't hesitate to email <a href="mailto:cmusoundbytes@gmail.com">cmusoundbytes@gmail.com</a>
     	</p>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Audition Layout End -->
