<!-- Audition Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}
    
    {% include header.html %}

    <section id="audition" class="container content-section text-center">
        
        <h3>2017 Fall Auditions</h3>
      
        <p>
          Auditions will be held Friday, September 8th from 4:30-9:00pm, and Saturday, September 9th from 11:00-3:00pm. Each audition will last 10 minutes and will have at most 3 people auditioning. You can sign up 
          <a href="https://docs.google.com/spreadsheets/d/1L5eY1UElRYqGH3ookT-R3FMDFKfV5AVBnXoRLvp7Vs8/edit#gid=0" target="_blank">here</a>!
        </p>
        <p>
          You should also keep Sunday, September 10th from 12:00-2:00pm open, as this is when we will be holding our callbacks!
        </p>
        <p>
          Soon after you sign up, you will receive an email with a location and more details regarding the audition. We are so excited to meet you all! 
        </p>

     	<h3>What to expect at auditions</h3>

 		<h5>Range Test:</h5>
 		<p>We will test your range with a keyboard exercise.</p>

 		<h5>Chord Matching: </h5>
 		<p>
 			We will play chords (three tones) and you will sing the pitches that you hear.  We will demonstrate this in your audition, don't worry if this isn't your forte.
 		</p>
 		<h5>Solo: </h5>
 		<p>
 			Prepare a verse and a chorus (1-2 minutes) of a song that you can sing without accompaniment.  Your choice should be something that best represents and showcases your voice.
 		</p>

 		<h5 class="teal">THE JAM:</h5>
 		<p>If time permits, have some fun and sing with Soundbytes! :)</p>

        <img src="../img/group/soundbytes-candid.jpg"/>

     	<h3>Frequently Asked Questions</h3>

     	<h5>Can I audition for more than one group on campus?</h5>
     	<p>
     		Yes! Audition for any and all groups that you find exciting! Callbacks will accommodate the schedules of other groups on campus!
     	</p>

     	<h5>When and how often do you rehearse?</h5>
     	<p>
     		We rehearse twice a week on Thursdays from 8-10PM and on Sundays from 1-3PM, with an occasional extra rehearsal added when needed! 
     	</p>

     	<br/><br/>
     	<p style="text-align: center">
     		If you have any questions, concerns, or cancellations, don't hesitate to email <a href="mailto:cmusoundbytes@gmail.com">cmusoundbytes@gmail.com</a>
     	</p>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Audition Layout End -->
